.root {
  position: fixed;
  left: 0;
  right: 0;
  top: 4rem; // nav height
  height: calc(100dvh - 16rem); // Use dynamic viewport height and account for top + bottom space
  display: flex;
  overflow-y: auto;
  padding: 1.5rem;
}

.contentWrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 1rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66.67%; // 3:2 aspect ratio
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
} 