.root {
  position: fixed;
  inset: 0;
  top: 4rem;
  display: flex;
  overflow-y: auto;
  padding: 1.5rem;
}

.contentWrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 1rem;

  @media (max-width: 768px) {
    max-width: 400px;
  }

  @media (max-width: 480px) {
    max-width: 320px;
    padding-top: 0.5rem;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66.67%; // 3:2 aspect ratio
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 1rem;

  @media (max-width: 480px) {
    margin-bottom: 0.5rem;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;

  button {
    &:hover {
      background: var(--theme-focused-foreground);
    }

    &:not(:hover):not(:active) {
      background: var(--theme-button);
    }

    &:active {
      background: var(--theme-focused-foreground);
    }

    @media (hover: none) {
      &:not(:active) {
        background: var(--theme-button);
      }
    }
  }
} 