.contactContainer {
  p {
    color: var(--theme-text);
  }
}

.email {
  color: var(--theme-primary);
  text-decoration: none;
  display: inline-block;
  font-family: var(--font-family-mono);
  
  &:hover {
    text-decoration: underline;
  }
} 