.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-mono);
  background-image: url('/images/bg-img.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loadingSteps {
  position: fixed;
  top: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
}

.loadingStep {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 16px;
  color: var(--theme-foreground);
  line-height: calc(var(--theme-line-height-base) * 1rem);
  animation: slideIn 0.3s ease-out forwards;
  opacity: 0;
  transform: translateY(10px);
}

.asciiArt {
  font-family: var(--font-family-mono);
  white-space: pre;
  color: var(--theme-foreground);
  animation: fadeIn 0.5s ease-out;
  line-height: 1.2;
  font-size: calc(var(--font-size) * 0.8);
  text-align: left;

  @media (max-width: 768px) {
    font-size: calc(var(--font-size) * 0.4);
    line-height: 1;
  }
}

.prompt {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  font-size: calc(var(--font-size) * 1.2);
  color: var(--theme-foreground);
  animation: fadeIn 0.5s ease-out;
  z-index: 2;

  @media (max-width: 768px) {
    font-size: calc(var(--font-size) * 1);
    bottom: 1rem;
    left: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 