.root {
  position: fixed;
  inset: 0;
  top: 4rem; // nav height
  display: flex;
  overflow-y: auto;
  padding: 1.5rem;
}

.contentWrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 1rem; // Space for X button
}

.faqContainer {
  padding: 2rem;
  
  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.question {
  padding: 1.5rem 0;
  
  h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--theme-text);
  }
  
  p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--theme-text);
    text-align: center;
  }
} 