.root {
  white-space: nowrap;
  user-select: none;
}

.rootButton {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;

  &.collapsed {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :global(.ActionButton-root) {
    &:hover, &:focus, &[data-selected="true"] {
      background: rgba(255, 246, 217, 1) !important;
    }
  }
}

.item {
  cursor: pointer;
  
  &:hover, &:focus {
    outline: none;
    background: rgba(255, 246, 217, 1) !important;
  }
}

.empty {
  opacity: 0.5;
}
