.root {
  white-space: nowrap;
  user-select: none;
}

.rootButton {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;

  &.collapsed {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.item {
  cursor: pointer;
  
  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.empty {
  opacity: 0.5;
}
